.app {
    display: flex;
    flex-direction: column;
}

.b {
    width: 300px;
    height: 100px;
    border: 1px solid aqua;
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    overflow-y: hidden;
}

.aa {
    width: 100px;
    height: 100%;
    margin-right: 10px;
    border: 1px solid red;
    flex-shrink: 0;
}

.b::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.b::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.frame {
    overflow-y: auto;
    border: 1px solid black;
    height: 3em;
    width: 10em;
    line-height: 1em;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.box {
    display: flex;
    flex-direction: column;
    width: 300px;
}